<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My profile</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="/css/myProfile.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />

</head>

<body>
    <div class="header__wrapper">
        <header>

        </header>
        <div class="cols__container">
            <div class="left__col">
                <div class="img__container">
                    <% if(data.profilePic==null && (data.gender=="Male" || data.gender=='NA')){ %>
                        <img src="/images/male.png" alt="<%= data.username%>" />
                        <% } else if(data.profilePic==null && data.gender=="Female" ) {%>
                            <img src="/images/female.png" alt="<%= data.username%>" />
                            <%}%>

                                <% if(data.active==true){ %>
                                    <span></span>
                                    <%}%>

                </div>
                <h2>
                    <%= data.name%>
                </h2>
                <p>
                    <%=data.username%>
                </p>
                <p style="color: black;
                font-family: fantasy;">About:<%= data.about%>
                </p>
                <ul class="about">
                    <a href="/my_friends">
                        <li><span>
                                <%=data.friend_counts%>
                            </span>
                            <h4 style="color: darkblue; font-family: fantasy">Friends</h4>
                        </li>
                    </a>
                    <a href="pending_request">
                        <li><span>
                                <%=data.pending_req_count%>
                            </span>
                            <h4 style="color: darkblue; font-family: fantasy">Pending Request</h4>
                        </li>
                    </a>
                    <a href="/sent_request">
                        <li><span>
                                <%=data.sent_req_count%>
                            </span>
                            <h4 style="color: darkblue; font-family: fantasy">Sent Request</h4>
                        </li>
                    </a>

                </ul>
                <div class="content">
                    <h2 style="font-size: 14px;">General Information</h2>
                    <ul>
                        <li>
                            <p>Name: <%=data.name%>
                            </p>
                        </li><br>
                        <li>
                            <p>Email: <%=data.email%>
                            </p>
                        </li><br>
                        <li>
                            <p>username: <%=data.username%>
                            </p>
                        </li><br>
                        <li>
                            <p>Gender: <%=data.gender%>
                            </p>
                        </li><br>
                        <li>
                            <p>Dob: <%=data.dob%>
                            </p>
                        </li><br>
                        <li>
                            <p>Joined At: <%=data.createdAt%>
                            </p>
                        </li><br>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <h1 style="position: absolute;right: 9%;top: 39%; color: blueviolet; border-bottom: 4px solid #ff4584;
      display: inline-block;
      letter-spacing: 1px; font-family: fantasy;"> My Profile</h1>
    <a href="/dashboard/<%= data.username%>" style="
        position: absolute;
        top: 39%;
        left: 26px; color: blueviolet;
    "> <span class="material-symbols-outlined">
            reply
        </span> Dashboard </a>
    <h5>
        </p>
    </h5>
    <div>
        <ul>

    </div>


    <br><br>
    <div>
        <ul>

        </ul>

    </div>





</body>

</html>