<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pending Request</title>
</head>
<body>
    <% if(data.length>0){ %>

        <div>
            <% for (records of data){%>
                <div>
                    <ul>
                        <a href="/otherProfile/<%= records.data.username%>">
                            <div>
                                <h3>Name: <%= records.data.name%></h3>
                                <h4><%= records.data.username%> </h4>
                                <a href="/accept_req/<%= records.data.username%>">Accept</a>   <a href="/decline_req/<%= records.data.username%>">Decline</a>    
                            </div></a>
                    </ul>
                </div>
                <% } %>
        </div>
             <%} else {%>
                <h2> No pending request !!
             <%}%>
                    
</body>
</html>